<div class="div-result">
  <div>
    <span class="big-title">The G.O.A.T</span>
    <iframe src="https://giphy.com/embed/cMso9wDwqSy3e" width="100" height="100" frameBorder="0" class="giphy-embed"
            allowFullScreen>
    </iframe>
  </div>
  <div class="div-information">
    <div class="div-statistics">
      <div class="radar-chart" *ngIf="radarChartData">
        <canvas baseChart
                [datasets]="radarChartData"
                [labels]="radarChartLabels"
                [chartType]="radarChartType">

        </canvas>
      </div>
      <div class="bar-chart" *ngIf="barChartData">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">

        </canvas>
      </div>
    </div>
    <div class="winner-photo">
      <div *ngIf="winner === 'Tom BradyT. Brady'">
        <iframe src="https://giphy.com/embed/tIXVwkmqewISs" width="400" height="400" frameBorder="0">
        </iframe>
      </div>
      <div *ngIf="winner === 'Peyton ManningP. Manning'">
        <iframe src="https://giphy.com/embed/Qe7mSZZPRTDLa" width="400" height="400" frameBorder="0">
        </iframe>
      </div>
    </div>
  </div>
</div>

